@import url('https://fonts.googleapis.com/css2?family=Acme&family=Caveat&family=Permanent+Marker&display=swap');

:root {
    --modalBG: #333333;
    --textOrange: #ffe6cc;
}

html,
body,
#root {
    height: 100%;
    width: 100%;

    background-color: black;
    color: var(--textOrange);
}

* {
    text-align: center;
    margin: 0;
    padding: 0;

    font-family: Verdana, Arial, Helvetica, sans-serif;
}

input,
textarea {
    font-family: 'Caveat', cursive;
    font-size: 2vmin;
}

button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 1000;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

.App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--modalBG);
    padding: 0 1vmax;
    border-bottom: 2px solid rgba(255, 230, 204, 0.5);
}

header h1 {
    color: orange;
    font-size: 7vmax;
    padding-left: 2vmax;

    font-family: 'Permanent Marker', cursive;
}

#current-user-display {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vmax;
    padding: 1vmax;
    border-radius: 25px;
}

#login,
#logout {
    color: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
}

#login-button,
#logout-button {
    height: 2vmax;
    width: 2vmax;

    background: none;
    border: none;

    fill: orange;
}

#login-button:hover,
#logout-button:hover {
    height: 2vmax;
    width: 2vmax;

    fill: white;
}

#loggedin-user {
    display: flex;
    gap: 1vmax;
    align-items: center;

}

#loggedin-user>img {
    height: 5vmax;
    width: 5vmax;
    border-radius: 100px;
}

#loggedin-user>p{
    font-size: 2vmax;
    font-family: 'Permanent Marker', cursive;
}

main {
    flex: 1;
    overflow: auto;
    box-sizing: border-box;
}

#home-page {
    display: flex;
    flex-direction: column;
    height: 100%;

    align-items: center;
}

#profile-page {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1vmax;
    height: 100%;

    justify-content: center;
    align-items: center;

    padding: 1vmax;
}

#user-details {
    padding: 1vmin;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2vmax;
    border-radius: 10px;
}

.user-details>img {
    border-radius: 100px;
    margin: 1vmin;
}

#profile-page-controls {
    display: flex;
    gap: 1vmax;
}

#profile-page-controls>button {
    flex: 1;
    height: 3vmax;
    background-color: var(--modalBG);
    color: orange;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 0.1px var(--textOrange);
}

#profile-page-controls>button.active {
    background-color: orange;
    color: black;
}

#upvotes-section {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 1000;
    font-size: 2vmax;
}

#upvotes-section>button {
    border: none;
    background: none;
    cursor: pointer;
    fill: white;

    height: 4vmax;
    width: 4vmax;
}

.voted {
    fill: orange !important;
    opacity: 0.5;
    pointer-events: none;
}


.post-title-view,
.reply-view {
    text-decoration: none;
    min-height: 12vmax;
    max-height: 12vmax;
    min-width: 100%;

    display: flex;

    background-color: var(--modalBG);
    border-radius: 5px;
    box-shadow: 0 0 1px 1px orange;

    overflow: hidden;
}

#post-title-details,
#reply-view-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: flex-start;
    width: 100%;
    padding: 1vmax;

}

.post-title-up,
.reply-view-up {
    font-size: 1vmax;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2vmax;
}

.post-title-mid {
    font-size: 2vmax;
    width: 100%;

    text-align: justify;

    font-family: 'Acme', sans-serif;
}

.reply-view-mid {
    font-size: 2vmax;
    width: 100%;
    text-align: justify;

}

.post-title-container,
.reply-container {

    height: 100%;
    width: 80%;
    overflow: auto;

    display: grid;
    grid-auto-flow: row;
    gap: 2vmax;

    padding: 1vmin;

}

button:hover {
    cursor: pointer;
}

#create-post-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vmax;
    padding: 1vmin 5vmax;
}

#create-post-page>h2 {
    color: orange;
    font-family: 'Permanent Marker', cursive;

}

#create-post-form {
    flex: 1;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    gap: 2vmax;
    background-color: var(--modalBG);
    border-radius: 5px;
    padding: 2vmax;

}

#type-select {
    width: 50%;
    display: flex;
    gap: 2vmax;
}

#type-select>button{
    flex: 1;

    height: 3vmax;
    border-radius: 5px;
    background-color: inherit;
    border: none;

    color: var(--textOrange);
}

#type-select>button.active {
    background-color: orange;
    color: black;
}

input#post-title {
    width: 50%;
    height: 1.5vmax;
    padding: 1vmin;

    background-color: black;
    color: var(--textOrange);
    border: 1px solid white;
    border-radius: 10px;
}

#post-content {
    width: 50%;
    height: 30vmax;
    padding: 1vmin;
    text-align: justify;

    background-color: black;
    color: var(--textOrange);
    border: 1px solid white;
    border-radius: 10px;

}

#image-input {
    border: 1px solid white;
    width: 50%;
    height: 30vmax;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-controls {
    width: 50%;
    display: flex;
    gap: 2vmax;
}

#form-controls>button{
    flex: 1;

    height: 3vmax;
    background-color: orange;
    border-radius: 5px;
    border: none;

    font-size: 2vmax;
}

#view-post{
    display: flex;
    flex-direction: column;

    padding: 1vmax;

    gap: 1vmax;
}

#post-section {
    border: 1px solid white;

    display: flex;
    padding: 2vmax;

    background-color: var(--modalBG);

    border-radius: 5px;
}

#post-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vmax;
    padding: 1vmin;
    max-width: 75%;

}

.post-details-up {
    display: flex;
    gap: 3vmax;

    text-align: justify;
    padding-left: 1vmin;

    font-size: 1.5vmax;
}

.post-details-mid {
    display: flex;
    flex-direction: column;
    gap: 1vmax;

    padding-left: 1vmin;
}

#post-text-content {
    max-width: 100%;
    text-align: justify;
    overflow-wrap: anywhere;
    hyphens: auto;
    white-space: pre-wrap;

    padding: 1vmin;
}

#post-image-content {
    padding: 2vmax;

    display: flex;
    justify-content: center;

    position: relative;
}


.slide-control {
    position: absolute;
    height: 50%;
    width: 25%;
    opacity: 0.1;
    background: none;
    border: none;
}

.slide-control:hover {
    visibility: visible;
    fill: orange;
    opacity: 1;
}

.prev-image {
    left: 0;
}

.next-image {
    right: 0;
}

#post-controls {
    display: flex;
    gap: 5vmax;
}

#post-controls svg {
    height: 2vmax;
    width: 2vmax;
}

#display-post-title {
    text-align: justify;
    font-size: 3vmax;
    font-family: 'Acme', sans-serif;

}

#add-reply-section {
    border: 1px solid white;
    border-radius: 5px;
    padding: 2vmax 7vmax;
    background-color: var(--modalBG);
}

#add-reply-form>textarea{
    min-height: 20vmax;
    width: 100%;
    background-color: black;
    color: white;
    text-align: justify;
    border: none;
    padding: 1vmin;

    box-sizing: border-box;
    resize: none;
}

.reply-content>#add-reply-form,
.reply-content #edit-reply-form {
    width: 80%;
}

#add-reply-form{
    background-color: black;
    width: 100%;
    padding: 1vmax;
}

#add-reply-form>#controls {
    display: flex;
    justify-content: center;
    gap: 2vmax;
}

#add-reply-form button{
    background-color: orange;
    border: none;
    border-radius: 5px;
    flex: 1;
    padding: 0.5vmin 2vmax;
    max-width: max-content;
}

#edit-reply-form>textarea {
    min-height: 15vmax;
    width: 100%;
    background-color: black;
    color: white;
    text-align: justify;
    padding: 1vmin;
    border: none;
    gap: 1vmin;
    box-sizing: border-box;
    resize: none;
}

#edit-reply-form {
    width: 100%;
    border-radius: 5px;
    background-color: black;

    display: flex;
    flex-direction: column;
    padding: 1vmax;
    
}

#edit-reply-form-controls {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    gap: 2vmin;
}

#edit-reply-form button {
    padding: 0.5vmin 1vmax;
    border: none;
    border-radius: 5px;
    background-color: orange;
}

#replies-section {
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 2vmax;

    background-color: var(--modalBG);
}

.display-reply {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 1vmax;
}

.nested {
    box-sizing: border-box;

    padding-top: 1vmin;
    padding-left: 2vmin;
    padding-bottom: 0;
    padding-right: 0;

    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.active-reply {
    display: flex;
    padding: 1vmin;

    border-radius: 5px;
}

.reply-content {
    width: 100%;
    padding: 0 1vmin;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reply-content-up {
    display: flex;
    align-items: center;
    gap: 2vmax;

    font-size: 1vmax;
}

.reply-content-mid>p {
    font-size: 2vmax;
    align-self: flex-start;
    text-align: justify;

    overflow-wrap: anywhere;
    hyphens: auto;
    white-space: pre-wrap;
}

.reply-content-down {
    text-align: justify;

    display: flex;
    gap: 1vmax;
}

.reply-content-down>button {
    height: 2vmax;
    width: 2vmax;
    background: none;
    border: none;
}

.total-replies-icon,
.add-reply-button,
.edit-reply-button,
.delete-reply-button {
    fill: orange;
}

.total-replies-icon>svg {
    height: 2vmax;
    width: 2vmax;
}

#edit-post-button,
#delete-post-button {
    height: 24px;
    width: 24px;
    fill: orange;
    background: none;
    border: none;
}

#new-post-button {
    background-color: orange;
    color: black;
    border: 1px solid black;

    font-size: 3vmax;
    padding: 1vmin;

    border-radius: 5px;

    transition: background-color 0.3    s ease-in-out, color 0.3    s ease-in-out, border 0.3   s ease-in-out;
}

#new-post-button:hover {
    background-color: var(--modalBG);
    color: var(--textOrange);
    border: 1px solid var(--textOrange);
}

.show-createdby {
    display: flex;
    align-items: center;
}

.tiny-image {
    border-radius: 100px;
    height: 2vmax;
    width: 2vmax;
}

.created-when {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}