:root {
    --modalBG: #333333;
    --textOrange: #ffe6cc;
}

html,
body,
#root {
    height: 100%;
    width: 100%;

    background-color: black;
    color: var(--textOrange);
}

* {
    text-align: center;
    margin: 0;
    padding: 0;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

.App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vmax;
    background-color: var(--modalBG);
}

header h1 {
    color: orange;
    font-size: 5rem;
}

#current-user-display {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1vmax;
    border-radius: 25px;
}


#loggedin-user {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#loggedin-user>img {
    height: 50px;
    width: 50px;
    border-radius: 100px;
}


main {
    flex: 1;
    overflow: auto;
    box-sizing: border-box;
}

#home-page {
    display: flex;
    flex-direction: column;
    height: 100%;

    align-items: center;
}

#profile-page {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;

    justify-content: center;
    align-items: center;
}


#upvotes-section {
    padding: 1vmin;
}

#upvotes-section>button {
    border: none;
    background: none;
    cursor: pointer;
}

.post-title-view,
.reply-view {
    text-decoration: none;
    min-height: 100px;
    min-width: 100%;

    display: flex;

    background-color: var(--modalBG);
    border-radius: 5px;
    box-shadow: 0 0 1px 1px orange;
}

#post-title-details,
#reply-view-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: flex-start;
    width: 100%;
    padding: 1vmax;

}

.post-title-up,
.reply-view-up {
    display: flex;
    justify-content: space-around;
    gap: 2rem;

}

.post-title-mid {
    font-size: 2rem;
    width: 100%;

    text-align: justify;
}

.reply-view-mid {
    border: 1px solid white;
    font-size: 1.5rem;
    width: 100%;
    text-align: justify;

}

.post-title-container,
.reply-container {

    height: 100%;
    width: 80%;
    overflow: auto;

    display: grid;
    grid-auto-flow: row;
    gap: 2rem;

    padding: 1vmin;

}

.voted {
    background-color: orange;
    opacity: 0.5;
    pointer-events: none;
}

button:hover {
    cursor: pointer;
}

#create-post-form {
    border: 1px solid white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    gap: 2rem;
}

#type-select {
    width: 50%;
    display: flex;
    gap: 2rem;
}

#type-select>button{
    flex: 1;
}

input#post-title {
    width: 50%;
    height: 1.5rem;
}

#post-content {
    width: 50%;
    height: 30rem;
}

#image-input {
    border: 1px solid white;
    width: 50%;
    height: 30rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

#form-controls {
    width: 50%;
    display: flex;
    gap: 2rem;
}

#form-controls>button{
    flex: 1;
}

#view-post{
    display: flex;
    flex-direction: column;

    padding: 1vmax;

    gap: 1rem;
}

#post-section {
    border: 1px solid white;

    display: flex;
    padding: 2vmax;

    background-color: var(--modalBG);

    border-radius: 5px;
}

#post-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 1rem;

    padding: 1vmin;
}

.post-details-up {
    width: 50%;
    display: flex;
    justify-content: space-around;

    text-align: justify;
}

.post-details-mid {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-left: 1vmin;
}

#post-text-content {
    border: 1px solid white;
    min-width: 500px;
    max-width: 500px;
    min-height: 500px;
    text-align: justify;
    overflow-wrap: break-word;

    padding: 1vmin;
}

#post-image-content {
    border: 1px solid white;
    min-width: 500px;
    max-width: 500px;
    min-height: 500px;
    padding: 2vmax;
}

#post-controls {
    display: flex;
    justify-content: space-around;
}

#display-post-title {
    text-align: justify;
}

#add-reply-section {
    border: 1px solid white;
    display: flex;
    align-items: center;

    padding: 1vmax 7vmax;
    background-color: var(--modalBG);
}

#add-reply-form {
    border: 1px solid white;
}

#add-reply-form>textarea{
    min-height: 200px;
    min-width: 500px;

    background-color: black;
    color: white;
    text-align: justify;

    padding: 1vmin;
}

#add-reply-form>#controls {
    justify-self: flex-end;
}

#edit-reply-form>textarea {
    min-height: 150px;
    min-width: 300px;

    background-color: black;
}

#edit-reply-form {
    border: 1px solid white;

    display: flex;
    flex-direction: column;
}

#edit-reply-form-controls {
    align-self: flex-end;
}

#replies-section {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: var(--modalBG);
}

.display-reply {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    overflow: auto;

    padding: 1vmin;

}

.nested {
    box-sizing: border-box;

    padding-top: 0.5vmin;
    padding-left: 1.5vmin;
    padding-bottom: 0;
    padding-right: 0;

    border-left: 1px solid white;
}

.active-reply {
    display: flex;
    padding: 1vmin;

    border: 1px solid white;

}

.reply-content {
    width: 100%;
    padding: 0 1vmin;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.reply-content-up {
    display: flex;
    gap: 2rem;
}

.reply-content-mid>p {
    font-size: 1.5rem;
    align-self: flex-start;
    text-align: justify;
    overflow-wrap: break-word;
}

.reply-content-down {
    text-align: justify;

    display: flex;
    gap: 1rem;
}

.reply-content-down>button {
    height: 24px;
    width: 24px;
    background: none;
    border: none;
}

.total-replies-icon,
.add-reply-button,
.edit-reply-button,
.delete-reply-button {
    fill: orange;
}

#edit-post-button,
#delete-post-button {
    height: 24px;
    width: 24px;
    fill: orange;
    background: none;
    border: none;
}
